# {{ ansible_managed }}
[carbon]
pattern = ^carbon\.
retentions = 10s:6h,1min:90d

# TODO: remove it from template to vars
[drupals]
pattern = \.drupals\.
retentions = 5m:1d,1h:30d,1d:2y

[servers]
pattern = ^servers\.
retentions = 1s:1h,10s:1d,1m:7d,5m:30d,1h:1y,1d:5y

[default]
pattern = .*
retentions = 1s:1h,10s:1d,1m:7d,5m:30d,1h:1y,1d:5y
